@model EventListViewModel

<h1>@Model.CurrentCategory</h1>
<div class="p-4 mb-3 mt-2 bg-light rounded border border-success">
    <h4>A quote from a Customer</h4>
    <p class="mb-0 fst-italic">
        Delightful and safe experience from the The Adventure Junkie Team! -
        Bethany
    </p>
</div>
<div class="row">
@foreach (var Event in Model.Events)
{
    <div class="card col-md-4 m-3" style="width: 18rem;">
        <img src="@Event.ImageUrl" class="card-img-top img-fluid" alt="Event Image">
        <div class="card-body">
            <h5 class="card-title">@Event.Name</h5>
            <p class="card-text">@Event.EventDateTime</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

}
</div>