@model EventListViewModel

<h1>@Model.CurrentCategory</h1>
<div class="p-4 mb-3 mt-2 bg-light rounded border border-success">
    <h4>A quote from a Customer</h4>
    <p class="mb-0 fst-italic">
        Delightful and safe experience from the The Adventure Junkie Team! -
        Bethany
    </p>
</div>
<div class="row">
@foreach (var Event in Model.Events)
{
    <partial name="_EventCard" model="Event" />

}
</div>