@model IEnumerable<Category>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark"
       data-toggle="dropdown"
       href="#"
       role="button"
       data-bs-toggle="dropdown"
       id="nav-dropdown"
       aria-expanded="false">
        Categories
    </a>
    <ul class="dropdown-menu" aria-labelledby="nav-dropdown">
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Event" asp-action="List"
                   asp-route-category="@category.CategoryName"
                   class="dropdown-item">
                    @category.CategoryName
                </a>
            </li>
        }
    </ul>
</li>
